---
layout: default
---

<a class="btn" href="{{ site.baseurl }}/"> Home </a>

<div id="post">
  <header class="post-header">
    {% if page.image.feature %}
    <div class="post-image-feature">
      <img class="feature-image webfeedsFeaturedVisual" src={% if page.image.feature contains 'https' or page.image.feature contains 'http' %} "{{
      page.image.feature }}" {% else %} "{{ site.baseurl }}/img/{{ page.image.feature }}" {% endif %} alt="{{ page.title }} feature image"> {% if
      page.image.credit %}
      <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
      {% endif %}
    </div>
    <!-- /.image-wrap -->
    {% endif %}

    <h1 title="{{ page.title }}">{{ page.title }}</h1>
    <span class="post-meta">
      <span class="post-date"> {{ page.date | date: "%-d %b %Y" | upcase }} </span>
      • {% include read_time.html %}
    </span>
  </header>

  <article class="post-content">{{ content }}</article>
</div>
{% if page.share == true %}
<div class="share-buttons">
  <h6>Share on:</h6>
  <ul>
    <li>
      <a href="https://twitter.com/intent/tweet?text={{ site.url }}{{ page.url }}" class="twitter btn" title="Share on Twitter"
        ><i class="fa fa-twitter"></i><span> Twitter</span></a
      >
    </li>
    <li>
      <a
        href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&summary={{ page.excerpt }}&source={{ site.url }}"
        class="reddit btn"
        title="Share on Reddit"
        ><i class="fa fa-linkedin"></i><span> LinkedIn</span></a
      >
    </li>
  </ul>
</div>
<!-- end share-buttons -->
{% endif %} {% if site.owner.disqus-shortname and page.comments == true %}
<div id="disqus_thread"></div>
{% include disqus.html %} {% endif %}
